body
{
    color: rgb(139, 139, 235);
    background: rgb(94, 79, 59);
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border: 2px dashed rgb(0, 0, 0);
    width: 380px;
    height: 300px;
}
.name_of_object , #result_object_name , #result_object_accuracy 
{
    color: yellow;
}